  <div class="container-fluid">
   <div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Navigation</li>
              <li><a href="/"><i class="icon-home"></i> Home</a></li>
	      <li class="nav-header">Admin</li>
	      <li><a href="/admin/post/"><i class="icon-pencil icon"></i> Manage 
	      posts</a></li>
	      <li><a href="/admin/post/new/"><i class="icon-pencil icon"></i> 
		New post</a></li>
	      <li><a href="/admin/post/suggestion"><i class="icon-pencil 
		icon"></i> Manage Suggestion</a></li>
	    </ul>
          </div>
		</div>
		<div class="span9">
		  <div class="row-fluid">
