<footer class="footer" style="text-align:center;">
      <div class="container">
	<p>Bu sitede paylaşılan içerikler internet üzerinde dolaşan gerekli 
	yerli ve yabancı bilgilerden derlenmiştir. ©2013
	<ul class="footer-links">
	  <li><a href="http://gereksiz.us">gereksiz.us</a></li>
        </ul>
      </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37455818-2']);
  _gaq.push(['_setDomainName', 'gereksiz.us']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
