<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gereksizus</title>
    <meta name="keywords" content="gereksizus, gereksiz, lüzumsuz, bilgiler, 
    değişik, enteresan, ilginç">
    <meta name="description" content="gereksiz.us internet dünyasında bulunan 
    gereksiz bilgileri içermektedir.">
    <meta http-equiv="Content-Language" content="tr">
    <meta name="distribution" content="Global">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://gereksiz.us/favicon.ico" 
    type="image/x-icon">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/bootstrap/css/docs.css" rel="stylesheet">
    <script src="/static/js/general.js"></script>
  </head>
  <body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
	  <a class="brand" href="/">Gereksizus Der Ki...</a>
	</div>
      </div>
    </div>
